.login-card {
  width: 550px;
  min-height: 380px;
  background-color: white;
}

.username-input {
  width: 100%;
  height: 40px;
  border: 1px solid #cfcfcf;
  outline: none;
  padding: 0px 0px 0px 12px;
  border-radius: 4px;
}

.pwd-input {
  width: 90%;
  outline: none;
}

.login-btn {
  width: 260px;
  height: 60px;
  background-color: black;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.icons {
  border-right: 1px solid black;
  border-color: #c2c0c0;
}
